
body, html {
    background-color: powderblue;
    /*height: 100%;*/
    width: 100%;
    font-family: "Montserrat";
    margin: 0;
    /*overflow: hidden;*/
    color: black;
}

#wrapper, #lower-wrapper {
    background-color: #f2f2f2;
    padding: 2vh;
    max-width: 100vh;
    width: 100vw;
    border-radius: 4vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

#lower-wrapper {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#heading {
    font-size: 4vh;
    text-align: center;
}

#capital-input {
    text-align: right;
    width: 20%;
}

#fund-list {
    /*background: gray;*/
    padding-top: 1vh;
}

.fund-list-item {
    /*background: gray;*/
    padding: 1%;
}

#calculate-button {
    background-color: #d8d8d8;
    border-radius: 4vh;
    padding: 2%;
    width: 20%;
    height: auto;
    text-align: center;
    color: black;
    user-select: none;
}

#calculate-button:hover {
    background-color: #c9c9c9;
}

.result {
    margin: 1%;
}

#recalculate-advice {
    /*margin: 1%;*/
    margin-top: 2%;
}

nav.navbar {
    overflow: hidden;
    background-color: lightgreen;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 1px 5px grey;
}

nav.navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: Comfortaa;
    padding: 15px 15px;
    text-decoration: none;
}

nav.navbar a:hover{
    background: none;
    color: black;
    text-decoration: none;
}













